// location-details banner
.banner {

    .icon {
        height: 1em;
        vertical-align: middle;
    }

    @include pad {
        h2 {
            font-size: 48px;
        }

        .icon {
            width: 30px;
        }
    }

    @include mobile {
        h2 {
            font-size: 28px;
        }

        .icon {
            width: 17px;
        }
    }

}


// location-details main
.location-details {

    .select {
        width: 324px;
        padding: 10px 19px;
        color: #495057;
    }
    
    .icon {
        width: 21px;
        height: 21px;
    }

    // map
    .map {
        width: 100%;
        height: 415px;
    }

    @include pad {
        h2 {
            font-size: 16px;
        }

        .card-list {
            font-size: 14px;
            padding: 16px 18px 16px 18px;
        }

        // map
        .map {
            height: 465px;
        }
    }

    @include mobile {
        .area {
            display: flex;
            align-items: center;
        }
        .label,.select {
            font-size: 14px;
        }

        .select {
            width: 277px;
            padding: 8px 16px;
        }

    }
}