// series banner
.series-banner {
    height: 309px;

    .img:first-child {
        margin-right: 30px;
    }
    .img {
        object-fit: cover;
        object-position: center;
        width: calc((100% - 30px) / 2);
    }

    @include pad {
        height: auto;
        .img:first-child {
            margin-right: 0;
        }
        .img {
            object-fit: contain;
            width: 50%;
        }
    }
}

// series
.series {
    h2 {
        line-height: 63px;
    }

    h3 {
        line-height: 48px;
    }

    .optical-card {
        &-img {
            width: 100%;
            height: 164px;
            object-fit: cover;
            object-position: center;
        }
        &-body {
            // 定義所有字母均為大寫
            text-transform: uppercase;
        }

        .colors {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
    }

    // pagination
    .pagination {
        margin-bottom: 156px;
        .page-change {
            padding-top: 10px;
            padding-bottom: 12px;
            padding-left: 12px;
            padding-right: 12px;
        }

        .page-number {
            padding-top: 10px;
            padding-bottom: 14px;
            padding-left: 14px;
            padding-right: 17px;
        }

        li {
            border-right: 1px solid #555555;
            border-top: 1px solid #555555;
            border-bottom: 1px solid #555555;

            &:first-child {
                border-left: 1px solid #555555;
            }
            &:last-child {
                background-color: #f2f2f2;
            }
            &:hover {
                background-color: #000000;
            }
            &:hover a {
                color: white;
            }
        }

        a {
            color: #555555;
        }
    }

    @include pad {
        h2 {
            line-height: 48px;
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
        }

        .pagination {
            margin-bottom: 104px;
            .page-change {
                padding-left: 9px;
                padding-right: 15px;
            }
        }
    }

    @include mobile {
        h2 {
            line-height: 36px;
            font-size: 20px;
        }

        h3 {
            line-height: 16px;
            font-size: 16px;
        }

        .optical-card {
            &-body {
                p {
                    font-size: 16px;
                }
            }
        }

        .pagination {
            margin-bottom: 56px;
            .page-change {
                padding-top: 8px;
                padding-bottom: 7px;
                padding-right: 8px;
            }
    
            .page-number {
                padding-top: 8px;
                padding-bottom: 9px;
                padding-left: 11px;
                padding-right: 10px;
            }

            li {
                a {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
          }
    }
}

.brown {
    background: #B75929;
}
  
.darkslategray {
    background: #5F3E2D;
}