.footer {

    .link {
        transition: all .5s;
        &:hover,&:focus {
            color: $success;
            opacity: .75;
        }
    }

    .footer-contact {
        border-bottom: 1px solid $success;
        padding-bottom: 22px;
        .tel {
            margin-right: 17px;
        }
    }


    .copyright-logo {
        margin-right: 38px;
    }

    .privacy {
        margin-right: 62px;
    }

    @include pad {

        .social-icon {
            width: 24px;
        }

        .tel,.mail {
            width: 24px;
        }

        .telStyle,.mailStyle {
            font-size: 20px;
        }

        .copyright-logo {
            display: none;
        }

        .copyright p {
            font-size: 14px;
        }

        .privacy {
            margin-right: 24px;
        }

        .article,.privacy {
            font-size: 14px;
        }

    }
    // 767px 以下
    @include mobile {
        
        .footer-intro-menu {
            display: none;
        }

        .social {
            float: right;
            &::after {
            content: '';
            clear: both;
            }
        }

        .copyright-logo {
            display: block;
            width: 46px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 0;
        }
    }
}
