.footer {
    .footer-intro-menu {
        // margin-right: 438px;
        margin-right: calc((100% - 432px - 208px));
    }

    .link {
        transition: all .5s;
        &:hover,&:focus {
            color: $success;
            opacity: .75;
        }
    }

    .footer-contact {
        .tel {
            margin-right: 17px;
        }
    }

    .copyright {
        border-top: 1px solid $success;
        padding-top: 22px;
    }
    .copyright-logo {
        margin-right: 38px;
    }

    .privacy {
        margin-right: 62px;
    }

    @include pad {

        .social-icon {
            width: 24px;
        }

        .tel,.mail {
            width: 24px;
        }

        .telStyle,.mailStyle {
            font-size: 20px;
        }

        .copyright-logo {
            display: none;
        }

        .copyright p {
            font-size: 14px;
        }

        .privacy {
            margin-right: 24px;
        }

        .article,.privacy {
            font-size: 14px;
        }

    }
    // 767px 以下
    @include mobile {
        .copyright-logo {
            display: block;
            width: 46px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 0;
        }
    }
}
