<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- header -->
  <header class="header font-family-Noto bg-danger py-md-9 px-lg-20 px-md-13 d-flex justify-content-md-between flex-column flex-sm-row">
    <h1 class="logo"><a href="index.html">logo</a></h1>

    <ul class="font-size-xl text-success d-flex flex-wrap justify-content-end justify-content-sm-center align-items-md-center">
      <li class="text-center py-2 hover-bt-line"><a href="optical.html">系列鏡框</a></li>
      <li class="text-center py-2 ml-xl-17 ml-md-13 hover-bt-line"><a href="#">門市據點</a></li>
      <li class="text-center py-2 ml-xl-17 ml-md-13 hover-bt-line"><a href="#">部落格</a></li>
      <li class="text-center py-2 ml-xl-17 ml-md-13 hover-bt-line"><a href="#">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <!-- footer -->
  <footer class="footer bg-danger font-family-Noto">
    <div class="container pt-xl-12 pb-xl-8 py-md-13 py-6 text-success">
      <div class="footer-intro text-success mb-xl-5 d-flex flex-wrap align-items-center">
        <!-- footer--intro-menu -->
        <div class="footer-intro-menu mr-auto">
          <ul class="d-flex">
            <li class="mr-14 mr-md-13"><a href="#" class="link">首頁</a></li>
            <li class="mr-14 mr-md-13"><a href="#" class="link">系列鏡框</a></li>
            <li class="mr-14 mr-md-13"><a href="#" class="link">門市據點</a></li>
            <li class="mr-14 mr-md-13"><a href="#" class="link">部落格</a></li>
            <li><a href="#" class="link">常見問題</a></li>
          </ul>
        </div>

        <!-- footer-social-icon -->
        <ul class="d-flex social">
          <li class="mr-xl-11 mr-7">
            <a href="#" class="link"><img class="social-icon" src="./assets/images/footer/icon-fb.svg" alt="facebook"></a>
          </li>
          <li class="mr-xl-11 mr-7">
            <a href="#" class="link"><img class="social-icon" src="./assets/images/footer/icon-ig.svg" alt="instagram"></a>
          </li>
          <li>
            <a href="#" class="link"><img class="social-icon" src="./assets/images/footer/icon-line.svg" alt="line"></a>
          </li>
        </ul>

        <!-- footer-contact -->
        <ul class="footer-contact w-100 mb-7">
          <li class="mb-5 d-flex align-items-center">
            <img class="tel" src="./assets/images/footer/icon-phone.svg" alt="tel">
            <a class="telStyle link font-family-Roboto font-size-5xl" href="tel:0800-000-000">0800-000-000</a>
          </li>

          <li class="d-flex align-items-center">
            <img class="mail mr-3 font-size-sm" src="./assets/images/footer/icon-mail.svg" alt="mail">
            <a class="mailStyle link font-family-Roboto font-size-5xl" href="mailto:glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <!-- copyright -->
      <div class="copyright position-relative d-flex flex-wrap align-items-sm-center">
        <div class="d-flex align-items-center mr-auto">
          <img class="copyright-logo" src="./assets/images/logo.png" alt="logo">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
        </div>
        
        <ul class="d-flex flex-column flex-sm-row align-items-sm-center">
          <li class="privacy mb-2 mb-sm-0"><a class="link" href="#">隱私權政策</a></li>
          <li><a class="link article" href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
