.tabs {
    max-width: 1386px;
    width: 100%;
    margin: 0 auto;
    font-size: 42px;
    .tab {
        flex: 0 0 percentage(1 / 3);
        border: 1px solid #DCDCDC;
    }

    a {
        border-bottom: 16px solid transparent;

        &:hover  {
            border-bottom: 16px solid $danger;
        }
    }

    a.active {
        border-bottom: 16px solid $danger;
    }

    @include pad {
        font-size: 28px;
        .icon {
            width: 32px;
        }

        .functional-icon {
            width: 23px;
        }

        a {
            border-bottom: 8px solid transparent;
    
            &:hover  {
                border-bottom: 8px solid $danger;
            }
        }
    
        a.active {
            border-bottom: 8px solid $danger;
        }
    }

    @include mobile {
        font-size: 14px;

        .icon {
            width: 14px;
        }

        .functional-icon {
            width: 10px;
        }

        a {
            border-bottom: 4px solid transparent;
    
            &:hover  {
                border-bottom: 4px solid $danger;
            }
        }
    
        a.active {
            border-bottom: 4px solid $danger;
        }
    }
}